<div class="password-style no-padding-dialog">
    <div class="password-wrap">
        <div class="password-html">
            <h2 mat-dialog-title>In order to reset your password, please enter your email</h2>
            <div class="password-form">
                <div class="password">
                    <mat-dialog-content>
                        <div class="group">
                            <label class="label">Email</label>
                            <input name="email" [(ngModel)]="email" class="form-control input"
                                #loginemail="ngModel" ngModel email login autofocus required>
                        </div>
                        <input type="submit" (click)="sendresetmail()" class="button" data-dismiss="modal"
                            [disabled]="email === ''" [mat-dialog-close] value="Submit">
                    </mat-dialog-content>
                </div>
            </div>
        </div>
    </div>
</div>