<app-menu></app-menu>
<div class="full-screen-height">
  <div class="col-lg-14 col-md-14 col-sm-14">
    <img src="assets/img/background.jpg" alt="background" class="responsive">
    <div class="col-md-4 col-md-offset-1 window-position-center">
        <h1 class="text-align-center  font-size-six text-color-white">WELCOME TO <span class="text-color-orange bold-text">CLOUD BACKTESTING</span></h1>
        <h1 class="text-align-center font-size-two text-color-white">GROW YOUR TRADING STRATEGIES WITH THE BEST OF BACKTESTING SOLUTIONS</h1>
        <a routerLink="/home/prices" class="btn btn-default center-button">GO TO PRICES</a>
    </div>
  </div>
</div>