.img-logo {
  max-width: 340px;
  max-height: 370px;
  width:auto;
  height: auto;
}

.div-logo{
  padding-top: 6rem;
}

.market-depth-fix>img {
  position: relative;
  display: block;
  max-width: 100%;
}

.window-position-center {
  left: 20vw;
  top: 10vh;
  /* height: 50%; */
  width: 60%;
  position: relative;
}


.text-align-justify {
  text-align: justify;
}

.text-align-center {
  text-align: center;
}

.font-size-six {
  font-size: 6rem;
}

.bold-text {
  font-weight: bold;
}

.font-size-three {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 100;
}

.font-size-two {
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 100;
}

.font-size-one {
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.4;
}

.text-color-orange {
  color: #ED6540;
}

.text-color-white {
  color: rgb(255, 255, 255);
}

.text-color-black {
  color: #000;
}

.text-color-blue-qh {
  color: #0E1F3A;
}

.center-button {
  position: relative;
  display: inline-block;
  padding: 1.2em 5em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;
  left: 26vw;
  top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  width: 6vw;
  transform-style: preserve-3d;
  transform: perspective(800px);
  border-color: #ED6540;
  background-color: #ED6540;
}

.responsive {
  width: 100%;
  height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home-button {
  text-decoration: none;
  user-select: none;
  color: white;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(800px);
  border-radius: 4px;
  background: linear-gradient(to right, #ED6540 0%, #ED6540 51%, #ED6540 100%) !important;
  border: none;
  text-align: center;
  font-size: 16px;
  transition: all 0.4s;
  cursor: pointer;
}

.home-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.home-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.home-button:hover span {
  padding-right: 25px;
}

.home-button:hover span:after {
  opacity: 1;
  right: 0;
}