<app-menu></app-menu>
<div id="home">
  <div class="container col-8 pt-5 mt-5  d-block">
    <div class="row col-12">
      <div class="col-lg-6 col-sm-12 order-sm-2 order-lg-1 " style="font-size: xx-large;">
        <h1 class="text-color-orange text-sm-center text-lg-left  mt-sm-1 mt-lg-5" style="font-size: 4rem;">Cloud
          Backtesting</h1>
        <div class="pb-3 mb-3" style="font-size: 1.4rem;">Cloud Backtesting is the only quantitative trading
          environment engineered to optimise every stage of strategy
          research by hosting automated trading development tools in Azure.
        </div>
        <div class="pb-3 mb-3" style="font-size: 1.4rem;">QuantHouse unifies the research-development-backtesting
          cycle into Azure-Cloud infrastructure to provide you with the fastest lead time for new trading models in
          the market
        </div>
        <div class="row col-12 pl-5 ml-5">
          <div class="col-4">
            <a class="home-button btn" routerLink="/home/prices" rel="nofollow">
              <span>Get started</span>
            </a>
          </div>
          <div class="col-4">
            <a class="home-button btn" routerLink="/home/features" rel="nofollow">
              <span>Learn more</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col order-sm-1 order-lg-2 text-center align-items-center div-logo">
          <img src="assets/img/CloudBack.png" class="figure-img img-fluid img-logo" alt="background">
      </div>
    </div>
  </div>
</div>
<div id="pricing" class="mt-5 pt-5">
  <app-pricing></app-pricing>
</div>
<div id="cryptocurrency" class="mt-5 pt-5">
  <app-cryptocurrency></app-cryptocurrency>
</div>
<div id="products" class="mt-5 pt-5">
  <app-products></app-products>
</div>