<app-menu></app-menu>
<div class="container" class="full-screen-height" style="background-image: url('assets/img/background.jpg')">
  <div class="col-lg-12 col-md-12"  >
    <div class="col-md-4 col-md-offset-1" class="window-position-center">
        <h1 class="text-align-center text-color-black">Welcome to <b class="text-color-orange">Cloud Backtesting</b></h1>
        <h1 class="text-align-center text-color-black">Growth your trading strategies</h1>
        <h1 class="text-align-center text-color-black">with the best of backtesting solutions</h1>    
        <a routerLink="/home/prices" class="btn btn-info center-button">Get Started</a>
    </div>
  </div>
</div>