.market-depth-fix>img {
  position: relative;
  display: block;
  max-width: 100%;
}

.window-position-center {
  left: 10vw;
  top: 30vh;
  height: 50%;
  width: 60%;
  position: absolute;
}

.text-align-center {
  text-align: center;
}

.font-size-six {
  font-size: 6rem;
}

.bold-text {
  font-weight: bold;
}

.font-size-two {
  font-size: 2.5rem;
  font-family: Arial, sans-serif;
  font-weight: 100;
}

.text-color-orange {
  color: rgb(226, 80, 46);
}

.text-color-white {
  color: rgb(255, 255, 255);
}

.center-button {
  position: relative;
  display: inline-block;
  padding: 1.2em 5em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;
  left: 26vw;
  top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  width: 6vw;
  transform-style: preserve-3d;
  transform: perspective(800px);
  border-color: rgb(226, 80, 46);
  background-color: rgb(226, 80, 46);
}

.responsive {
  width: 100%;
  height: auto;
}

.home-button {
  position: relative;
  display: inline-block;
  padding: 1.2em 5em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;
  left: 26vw;
  top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  width: 6vw;
  transform-style: preserve-3d;
  transform: perspective(800px);
  border-color: rgb(226, 80, 46);
  background-color: rgb(226, 80, 46);
  border-radius: 4px;
  background: linear-gradient(to right, #df2d01 0%, #e24418 51%, #c95532 100%) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

.home-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.home-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.home-button:hover span {
  padding-right: 25px;
}

.home-button:hover span:after {
  opacity: 1;
  right: 0;
}