node_modules
**/node_modules/*
*/**/node_modules
dist/*
**/dist
*/**/dist/*
.deployment
.vscode/*
*/.vscode/*
**/.vscode/*
### DotnetCore ###
# .NET Core build folders
bin
obj
out
.vs
*.user
*/.vs/*
**/.vs/*
*/bin/*
**/bin/*
*/obj/*
**/obj/*
*/out/*
**/out/*
**/*.orig
**/*.back
**/*.bak
**/*.swp
