node_modules
**/node_modules/*
*/**/node_modules
dist/*
**/dist
*/**/dist/*
.deployment
.vscode/*
*/.vscode/*
**/.vscode/*
*/.vs/*
**/.vs/*
.vs/*
*/bin/*
**/bin/*
*/obj/*
**/obj/*
**/*.csproj.user
**/*.orig