<app-menu></app-menu>
<div  style="background-color: #d6dae2;padding-top: 1px; height: 100vh; background-repeat: repeat;">
    <div class="container ">
        <div class="col-12"  style="background-color: transparent; height: inherit;">
            <div class="col-12" style="border-width: 0px;
            background-color: transparent;">
                <div class="text-center col-12 p-3 m-3">
                    <h1> Our Mission</h1>
                </div>
                <div class="pt-0 px-5 mt-5 mx-5 col-12"
                    style="font-size: x-large; font-family: Arial, Helvetica, sans-serif;">
                    <p class="col-12">
                        <b>Cloud Backtesting</b> is the only quantitative trading environment engineered to optimise
                        every
                        stage of strategy research by hosting automated trading development tools in <b>Azure</b>
                    </p>
                    <p class="col-12">
                        <b style="color: #ED6540;">Quanthouse </b> unifies the research-development-backtesting cycle
                        into Azure-Cloud infrastructure to provide you with the fastest lead time for new trading models
                        in the market
                    </p>

                </div>
                <div class="pt-0 px-5 mt-5 mx-5 col-12"
                    style="font-size: x-large; font-family: Arial, Helvetica, sans-serif;">
                    <div class=" row col p-0 m-0">
                        <div class="col-lg-6 col-sm-12 row">
                            <div class="col-4">
                                <img src="assets/img/import_data_icon.png" style="width: 100%;">
                            </div>
                            <div class="col-8" style="margin-top: 6%;">Create your Tickdatabase</div>
                        </div>
                        <div class="col-lg-6 col-sm-12 row">
                            <div class="col-4">
                                <img src="assets/img/preparedata_icon.png" style="width: 100%;">
                            </div>
                            <div class="col-8" style="margin-top: 6%;">Sanitaze and prepare your data set</div>
                        </div>
                    </div>
                    <div class=" row col p-0 m-0">
                        <div class="col-lg-6 col-sm-12 row">
                            <div class="col-4">
                                <img src="assets/img/designmodels_icone.png" style="width: 100%;">
                            </div>
                            <div class="col-8" style="margin-top: 6%;"> Design and write your models</div>
                        </div>
                        <div class="col-lg-6 col-sm-12 row">
                            <div class="col-4">
                                <img src="assets/img/visualizePerf_icon.png" style="width: 100%;">
                            </div>
                            <div class="col-8" style="margin-top: 6%;"> Visualize and validate your performances</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>