<div class="text-center col-12">
    <h1 class="py-3 my-3">Cryptocurrencies</h1>
</div>
<div class="container-body">
    Kaiko and QuantHouse provide the new generation to industrialize your algo trading solutions. <br>
    Kaiko is the leading provider of institutional grade cryptocurrency market data.<br>
    Since 2014, Kaiko has collected, normalized and stored terabytes of raw cryptocurrency data from dozens of
    exchanges
</div>
<div class="row col-12 pt-4 mt-4">
    <div class="col-2">
        <a href="https://www.bitwiseinvestments.com/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/Screen_Shot_2019-04-17_at_17.29.18_1400x.png?v=1555514983"
                alt="" class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://www.bsonetwork.com/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/BSOnetwork_1400x.png?v=1543999956" alt=""
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://gemini.com/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/gemini_1400x.png?v=1544000005" alt=""
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://messari.io/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/Messari_1400x.png?v=1544000049" alt=""
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://www.shrimpy.io/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/Shrimpy_Dark_1400x.png?v=1568031003" alt=""
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://coinshares.co.uk/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/coinshares_kaiko_1400x.png?v=1561034937" alt=""
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://chain.link/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/chainlinklogo_1400x.png?v=1544000174" alt=""
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://coinshares.co.uk/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/gabi_1400x.png?v=1538552989" alt=""
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://itsa.global/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/itsa_1400x.png?v=1545218149"
                alt="Cryptocurrency Kaiko data partner International Token Standardization Association"
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://cryptio.co/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/cryptio_1400x.png?v=1538552950"
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="https://coinrule.io/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/coinrule_1400x.png?v=1561711788"
                class="appear lazyautosizes lazyloaded" style="width:100%;">
        </a>
    </div>
    <div class="col-2">
        <a href="http://sanostro.com/" class="logo-bar__link">
            <img src="//cdn.shopify.com/s/files/1/1365/1139/files/sanostro_logo_250_1400x.png?v=1541510830"
                style="width:100%;">
        </a>
    </div>
</div>