<div class="form-center padding-top">
    <h3 >Password Reinitialization</h3>
    <form [formGroup]="passwordform" (ngSubmit)="changePassword()" class="form">
        <mat-form-field class="col-12 mt-3">
            <input matInput type="password" placeholder="New Password" [(ngModel)]="password"
                formControlName="passwordctl" id="password">
            <mat-error
                *ngIf="passwordform.controls['passwordctl'].touched && passwordform.controls['passwordctl'].hasError('required')">
                this field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12 mt-2">
            <input matInput type="password" placeholder="Confirmation Password" [(ngModel)]="validationpassword"
                formControlName="validationpasswordctl" id="validationpassword">
            <mat-error
                *ngIf=" passwordform.controls['validationpasswordctl'].hasError('required')">
                this field is required</mat-error>
            <mat-error
                *ngIf="passwordform.controls['validationpasswordctl'].hasError('incorrect')">
                Fields values dosent match</mat-error>
        </mat-form-field>

        <div class="col-12 mt-1">
            <button type="submit" class="btn btn-primary btn-block mt-3  col-8 center-button orange">Change
                Password</button>
        </div>
        <div class="alert alert-info mt-3" *ngIf="message==true">Your password has been changed successfully</div>
    </form>
</div>