<div class="form-center">
    <h3 class="margin-bottom margin-top">Password Reinitialization</h3>
    <form class="was-validated form">
        <div class="mb-5">
            <div class="form-group margin-bottom">
                <label for="newpassword">Old Password</label>
                <input type="password" class="form-control is-valid" id="newpassword"
                    aria-describedby="newPassword" name="newpassword" [(ngModel)]="loginService.password"
                    #newpassword="ngModel" ngModel mdp required>
                <div class="invalid-feedback">
                    field is required
                </div>
            </div>

            <div class="form-group margin-bottom">
                <label for="newconfirmation">New Password</label>
                <input type="password" class="form-control is-valid center-button" id="newconfirmation"
                    aria-describedby="newConfirmation" name="newconfirmation" #newconfirmation="ngModel" ngModel
                    validateEqual="newpassword" required>
                <div class="invalid-feedback">
                    field is required
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block col-8 center-button orange" (click)="loginService.savemdp()">Save New
                Password</button>
        </div>
    </form>
</div>