<div class="form-center">
    <h3 class="margin-bottom margin-top">Password Reinitialization</h3>
    <form [formGroup]="passwordform" (ngSubmit)="changePassword()" class="form">
        <mat-form-field class="col-12">
            <label>Set your New Password</label>
            <input matInput type="password" [(ngModel)]="password" formControlName="passwordctl" id="password">
            <mat-error
                *ngIf="passwordform.controls['passwordctl'].touched && passwordform.controls['passwordctl'].hasError('required')">
                this field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12">
            <label>Confirm your Password</label>
            <input matInput type="password" [(ngModel)]="validationpassword" formControlName="validationpasswordctl"
                id="validationpassword">
            <mat-error
                *ngIf="passwordform.controls['validationpasswordctl'].touched && passwordform.controls['validationpasswordctl'].hasError('required')">
                this field is required</mat-error>
        </mat-form-field>
        <mat-error
            *ngIf="passwordform.controls['validationpasswordctl'].touched && passwordform.controls['validationpasswordctl'].hasError('incorrect')">
            Fields values dosent match</mat-error>
        <div class="col-12 mt-1">
            <button type="submit" class="btn btn-primary btn-block col-8 center-button orange">Change
                Password</button>
        </div>
        <div class="alert alert-info mt-3" *ngIf="message==true">Your password has been changed successfully</div>
    </form>
</div>