<div class="container text-center col-8">
    <h1 class="py-3 my-3">Pricing</h1>
    <div class="row col-12 ">
        <table class="table col-12 border-top-0">
            <thead>
                <td scope="col"></td>
                <td scope="col">Mutualized<br>
                    <button class="btn btn-default" [routerLink]="['/subscription/mutualized']">Subscribe</button>
                </td>
                <td scope="col">Dedicated<br>
                    <button class="btn btn-default">Subscribe</button>
                </td>
            </thead>
            <tbody>
                <tr scope="col">
                    <th>Price/mounth</th>
                    <td>100$</td>
                    <td>50$/user <br> 300$/ressource</td>
                </tr>
                <tr scope="col">
                    <th>Access to QuantDev environment</th>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                </tr>
                <tr scope="col">
                    <th>Execution plugin</th>
                    <td>Basic</td>
                    <td>Customizable</td>
                </tr>
                <tr scope="col">
                    <th>Market plugin</th>
                    <td>Basic</td>
                    <td>Customizable</td>
                </tr>
                <tr scope="col">
                    <th>Statistics plugin</th>
                    <td>Basic</td>
                    <td>Customizable</td>
                </tr>
                <tr scope="col">
                    <th>Backtesting reporting</th>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                </tr>
                <tr scope="col">
                    <th>Market data management</th>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                </tr>
                <tr scope="col">
                    <th>Backtesting reporting</th>
                    <td><i class="fas fa-check"></i></td>
                    <td><i class="fas fa-check"></i></td>
                </tr>
                <tr scope="col">
                    <th>Ressource</th>
                    <td>Mutualized</td>
                    <td>Dedicated 7/7 24/24</td>
                </tr>
                <tr scope="col">
                    <th>Support</th>
                    <td>
                        <div class="ml-lg-4 pl-lg-4 col-10">During business hours, only for general issues</div>
                    </td>
                    <td>
                        <div class="ml-lg-4 pl-lg-5 col-10">Extended hours, support on strategy creation with
                            direct access at the
                            platform
                        </div>
                    </td>
                </tr>
                <tr scope="col">
                    <th>Customize environment</th>
                    <td><i class="fas fa-times"></i></td>
                    <td><i class="fas fa-check"></i></td>
                </tr>
                <tr scope="col">
                    <th>Optimization</th>
                    <td><i class="fas fa-times"></i></td>
                    <td><i class="fas fa-check"></i></td>
                </tr>

            </tbody>
        </table>
        <div class="col-12 text-left note"> <b>Note :</b> you must have license of Visual Studio (pro or entreprise) and a license of windows 10 by
            <ul>
                <li>Windows10 Entreprises (EA or MPSA)</li>
                <li>Windows10 Entreprises E3 in CSP</li>
            </ul><br>            
        </div>
    </div>
</div>