<nav class="navbar navbar-expand-xl navbar-fixed-top navbar-light bg-light pt-0 pb-0 navbarontop" >
  <img id="logo" src="assets/img/quanthouse_logo.png"  class="pr-2 mr-2 navbarbrandheight" title="Quanthouse"
    alt="logo Quanthouse">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto respfontsize" >
      <li class="nav-item ">
        <a class="nav-link  mr-0 ml-0" routerLink="/">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link   mr-0 ml-0 " routerLink="/about">About QH</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link  mr-0 ml-0 " routerLink="/help">Help</a>
      </li>
    </ul>
    <span class="navbar-left ">
      <ul class="navbar-nav respfontsize" data-hover="dropdown" >
        <li class="nav-item  " *ngIf="role.length === 0 || !role ">
          <a class="nav-link mr-0 ml-0 " routerLink="/login">Login</a>
        </li>
        <li *ngIf="role.indexOf('Administrator') != -1 " class="nav-item ">
          <a class="nav-link mr-0 ml-0 " routerLink="/admin/role">Administration</a>
        </li>

        <li class="dropdown" *ngIf="role.length != 0" data-animations="fadeInDown">
          <a class="nav-link dropdown-toggle  mr-0 ml-0" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{username}}
          </a>
          <div class=" dropdown-menu dropdown-menu-right col-sm-12 respfontsize"  aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  routerLink="/account">My Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </span>
  </div>
</nav>