.sticky-left {
    position: sticky;
    left: 100%;
}

.nopaddingright {
    padding-right: 0px;
}
.nopaddingleft {
    padding-left: 0px;
}

.radius-bordered {
    height: 3em;
    border-radius: 0% 0% 15% 15%;
}