<div class="container col-md-12 ">
  <!-- Edit utilisateur -->
  <!-- Advanced Tables -->
  <div class="row col-md-12">
    <form #userForm="ngForm" class="row col-md-12" role="form">
      <fieldset class="form-group col-md-12 col-lg-6 pt-3">
        <legend>Contact Informations</legend>
        <div class="col-12">
          <div class="form-group input-group col-md-10">
            <span class="input-group-addon  col-sm-12 col-md-12 col-lg-4">First Name*</span>
            <input type="text" name="newfirstname" class="form-control col-sm-12 col-md-12 col-lg-8"
              placeholder="First Name" [(ngModel)]="user['firstname']" #newfirstname="ngModel" ngModel required>
            <show-errors class="col-12 p-0" [control]="newfirstname"></show-errors>
          </div>
          <div class="form-group input-group col-md-10">
            <span class="input-group-addon  col-sm-12 col-md-12 col-lg-4">Last Name*</span>
            <input type="text" name="newlastname" class="form-control col-sm-12 col-md-12 col-lg-8"
              placeholder="Last Name" [(ngModel)]="user['lastname']" #newlastname="ngModel" ngModel required>
            <show-errors class="col-12 p-0" [control]="newlastname"></show-errors>
          </div>
          <div class="form-group input-group col-md-10">
            <span class="input-group-addon  col-sm-12 col-md-12 col-lg-4">Job Role*</span>
            <input type="text" name="newjob" class="form-control col-sm-12 col-md-12 col-lg-8" [(ngModel)]="user['job']"
              placeholder="Job role" #newjob="ngModel" ngModel required>
            <show-errors class="col-12 p-0" [control]="newjob"></show-errors>
          </div>
          <div class="form-group input-group col-md-10">
            <span class="input-group-addon  col-sm-12 col-md-12 col-lg-4">Phone Number</span>
            <input type="tel" name="newPhone" class="form-control col-sm-12 col-md-12 col-lg-8"
              [(ngModel)]="user['phone']" placeholder="Phone">
          </div>
          <legend class="pb-3">Login Informations</legend>
          <div>
            <div class="form-group input-group col-md-10">
              <span class="input-group-addon  col-sm-12 col-md-12 col-lg-4">Email</span>
              <label name="newemail" class="col-sm-12 col-md-12 col-lg-8">{{user.email}}</label>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group col-md-12 col-lg-6 pt-3">
        <legend>Company Informations</legend>
        <div class="form-group input-group col-md-10">
          <span class="input-group-addon col-sm-12 col-md-12 col-lg-4">Company Name*</span>
          <input type="text" name="newcompanyname" class="form-control col-md-12 col-sm-12"
            [(ngModel)]="user['companyName']" placeholder="Company name" #newcompanyname="ngModel" ngModel required>
          <show-errors class="col-12 p-0" [control]="newcompanyname"></show-errors>
        </div>
        <div class="form-group input-group col-md-10">
          <span class="input-group-addon col-sm-12 col-md-12 col-lg-4 ">Company Type</span>
          <select name="newCompanyType" class="form-control col-md-12 col-sm-12" [(ngModel)]="user['companyType']"
            ngModel>
            <option value="">Selected Company Type</option>
            <option *ngFor='let ct of companyType' [value]="ct.id">{{ct.name}}</option>
          </select>
        </div>
        <div class="form-group input-group col-md-10">
          <span class="input-group-addon col-sm-12 col-md-12 col-lg-4">Country*</span>
          <select name="newcountry" class="form-control col-md-12 col-sm-12" [(ngModel)]="user['country']" ngModel
            #newcountry="ngModel" required>
            <option value="">Select country</option>
            <option *ngFor='let c of country' [value]="c.id">{{c.name}}</option>
          </select>
          <show-errors class="col-12 p-0" [control]="newcountry"></show-errors>
        </div>
        <div class="form-group input-group col-md-10">
          <span class="input-group-addon col-sm-12 col-md-12 col-lg-4">Address</span>
          <input type="text" name="newAddress" class="form-control col-md-12 col-sm-12" placeholder="Address"
            [(ngModel)]="user['address']">
        </div>
        <div class="form-group input-group col-md-10 ">
          <span class="input-group-addon col-sm-12 col-md-12 col-lg-4">Postal Code</span>
          <input type="text" name="newPostalCode" class="form-control col-md-12 col-sm-12"
            [(ngModel)]="user['postalCode']" placeholder="Postal Code">
        </div>
        <div class="form-group input-group col-md-10">
          <span class="input-group-addon col-sm-12 col-md-12 col-lg-4">City</span>
          <input type="text" name="newCity" class="form-control col-md-12 col-sm-12" [(ngModel)]="user['city']"
            placeholder="City">
        </div>
        <div class="form-group input-group col-md-10">
          <span class="input-group-addon col-sm-12 col-md-12 col-lg-4">State, Province or Region</span>
          <input type="text" name="newRegion" class="form-control col-md-12 col-sm-12" [(ngModel)]="user['region']"
            placeholder="State, Province or Region">
        </div>
        <div class="form-group input-group col-md-10">
          <span class="input-group-addon col-sm-12 col-md-12 col-lg-4">Website</span>
          <input type="tel" name="newWebsite" class="form-control col-md-12 col-sm-12" [(ngModel)]="user['website']"
            placeholder="Website">
        </div>
      </fieldset>

      <div class="col-lg-12 text-center">
        <input type="checkbox" name="newcommercial" [(ngModel)]="user.commercial" value="usercommercial" />
        Subscribe to commercial emails
        <a routerLink="/on-boarding" class="border mr-2 btn btn-default">Cancel</a>
        <button class="btn btn-default" [disabled]="userForm.invalid || userForm.pending"
          (click)="update()">Update</button>
      </div>
    </form>
  </div>
</div>