<div class="container col-md-6 ">
    <div class="form-center">
        <h3 class="text-center">Change Password</h3>
        <form [formGroup]="passwordform" (ngSubmit)="changePassword()" class="form">
            <mat-form-field class="col-12">
                <input matInput type="password" placeholder="Actual Password" [(ngModel)]="oldpassword" formControlName="oldpasswordctl"
                    id="oldpassword" required>
                <mat-error
                    *ngIf="passwordform.controls['oldpasswordctl'].touched && passwordform.controls['oldpasswordctl'].hasError('required')">
                    this field is required</mat-error>
                <mat-error
                    *ngIf="passwordform.controls['oldpasswordctl'].touched && passwordform.controls['oldpasswordctl'].hasError('incorrect')">
                    invalid actual password</mat-error>
            </mat-form-field>
            <mat-form-field class="col-12">
                <input matInput type="password" placeholder="New Password" [(ngModel)]="newpassword" formControlName="newpasswordctl"
                    id="newpassword" required>
                <mat-error
                    *ngIf="passwordform.controls['newpasswordctl'].touched && passwordform.controls['newpasswordctl'].hasError('required')">
                    this field is new required</mat-error>
                <mat-error
                    *ngIf="passwordform.controls['newvalidationpasswordctl'].touched && passwordform.controls['newvalidationpasswordctl'].hasError('incorrect')">
                    Fields values dosent match</mat-error>
            </mat-form-field>
            <mat-form-field class="col-12">
                <input matInput type="password" placeholder="Confirm new Password" [(ngModel)]="newvalidationpassword"
                    formControlName="newvalidationpasswordctl" id="newvalidationpassword" required>
                <mat-error
                    *ngIf="passwordform.controls['newvalidationpasswordctl'].touched && passwordform.controls['newvalidationpasswordctl'].hasError('required')">
                    this field is required</mat-error>
                <mat-error
                    *ngIf="passwordform.controls['newvalidationpasswordctl'].touched && passwordform.controls['newvalidationpasswordctl'].hasError('incorrect')">
                    Fields values dosent match</mat-error>
            </mat-form-field>

            <div class="col-12 mt-1 text-center">
                <button type="submit" class="btn btn-default col-8 ">Change
                    Password</button>
            </div>
            <div class="alert alert-info mt-3" *ngIf="message==true">Your password has been changed successfully</div>
        </form>
    </div>
</div>