<p>subscriptionsaccepted works!</p>
<app-menu></app-menu>
<!-- <app-configuration></app-configuration> -->
<div class="container  col-8 pt-4 mt-4  d-block">
    <h1 class="py-3 my-3 text-center">Subscriptions Accepted</h1>
    <div class="col-12" *ngIf="dataSource!=null;else loading">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="Subscriber">
                <th mat-header-cell *matHeaderCellDef> Subscriber</th>
                <td mat-cell class="truncate-cell" *matCellDef="let element"> {{element.subscriber}} </td>
            </ng-container>
            <ng-container matColumnDef="SubscriptionType">
                <th mat-header-cell *matHeaderCellDef> Subscription Type </th>
                <td mat-cell *matCellDef="let element"> {{element.subscriptionType}} </td>
            </ng-container>
            <ng-container matColumnDef="OrderId">
                <th mat-header-cell *matHeaderCellDef> Order Id </th>
                <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell class="truncate-cell" *matCellDef="let element">

                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
        </table>
    </div>
    <ng-template #loading>
        <div class="putcenter">
            <mat-spinner diameter="200"></mat-spinner>
        </div>
    </ng-template>
</div>