<!-- <div>
  <div class="text-center">
    <p class="h2 black-text"><strong>Login</strong></p>
    <p class="h5 text-muted"><small>Please enter your email and password</small></p>
    <hr class="hr-light">
  </div>
  <form class="text-center" (ngSubmit)="loginService.check()" #loginForm="ngForm" role="form">
    <fieldset>
      <div id="credentialinputs" aria-expanded="false">
        <div class="md-form mt-0">
          <input type="email" name="email" class="form-control" [(ngModel)]="loginService.email" required
            id="materialLoginFormEmail">
          <label for="materialLoginFormEmail">E-mail</label>
        </div>
        <div class="md-form mt-0">
          <input type="password" name="pwd" class="form-control" [(ngModel)]="loginService.password" required
            id="materialLoginFormPassword">
          <label for="materialLoginFormPassword">Password</label>
        </div>
      </div>
      <div class="d-flex justify-content-around mx-4 pt-3 mb-1">
        <p class="font-small d-flex justify-content-end">Forgot
          <a class="deep-orange-text ml-1" data-toggle="collapse" href="#collapsePassword" aria-expanded="false"
            aria-controls="collapsePassword">
            Password
          </a>
          <p>
      </div> -->

<!-- <div class="d-flex justify-content-around">
          <div class="collapse" id="collapsePassword">
            <div class="mt-1 mb-1">
                <p>In order to reset your password, please enter your email</p>
                <div class="form-group">
                  <label>Email</label>
                  <input name="email" [(ngModel)]="email" class="form-control" placeholder="Votre email"
                    #loginemail="ngModel" ngModel email login autofocus required>
                  <show-errors [control]="loginemail"></show-errors>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  [disabled]="email === ''" data-toggle="collapse" aria-expanded="false" aria-controls="collapsePassword">Back</button>
                  <button type="button" (click)="mdp()" class="btn btn-primary" data-dismiss="modal"
                    [disabled]="email === ''">Submit</button>
              </div>
            </div>
          </div>
        </div>  -->
<!-- <button outline="true" rounded="true" block="true" class="z-depth-1a waves-light" type="submit"
        [disabled]="loginService.email === '' || loginService.password === ''" [mat-dialog-close]>Login</button>

      <div class="modal-footer mx-4 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end">Not a member?
          <a class="deep-orange-text" routerLink="/signup" [mat-dialog-close]="true"> Sign Up</a>
        </p>
      </div>
    </fieldset>
  </form>
</div> -->
<!-- 
  <div class="col-md-12" *ngIf="viewterms">
        <p class="closeUla"><button class="btn btn-danger" (click)="termsClose()">Close</button></p>
          <pdf-viewer
          [src]="termspdf"
          [original-size]="originalSize"
          [fit-to-page]="fitToPage"
          [zoom]="zoom"
          [page]="page"
          [show-all]="showAll"
          [stick-to-page]="stickToPage"
          [render-text]="renderText"
          [external-link-target]="'blank'"
          [autoresize]="autoresize"
          ></pdf-viewer>
      </div>
  
   <div class="col-md-4 col-md-offset-4" *ngIf="page ==='mdp'">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Password Reinitialization</h3>
          </div>
          <div class="anim panel-body">
            <form #loginForm="ngForm" role="form">
              <fieldset>
                <div class="alert alert-info" *ngIf="message">{{ message }}</div>
                <div class="form-group input-group">
                  <span class="input-group-addon">Password*</span>
                  <input type="password" name="newpassword"  [(ngModel)]="password" class="form-control" #newpassword="ngModel" ngModel mdp required>
                  <show-errors [control]="newpassword"></show-errors>
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon">Confirm password*</span>
                  <input type="password" name="newconfirmation" class="form-control" placeholder="" #newconfirmation="ngModel" ngModel validateEqual="newpassword" required>
                  <show-errors [control]="newconfirmation"></show-errors>
                </div>
                <a (click)="savemdp()" class="btn btn-lg btn-success btn-block">Save New Password</a>
              </fieldset>
            </form>
          </div>
        </div>
    </div>    -->

<div class="login-style no-padding-dialog">
  <div class="login-wrap">
    <div class="login-html">
      <div class="text-center group">
        <h2 class="more-bottom-margin"><strong>Login</strong></h2>
        <h5 class="more-bottom-margin"><small>Please enter your email and password</small></h5>
      </div>

      <div class="login-form">
        <div class="sign-in">

          <div class="group">
            <label for="materialLoginFormEmail" class="label">Email</label>
            <input [(ngModel)]="loginService.email" class="input" type="email" name="email" required
              id="materialLoginFormEmail">
          </div>

          <div class="group">
            <label for="materialLoginFormPassword" class="label">Password</label>
            <input [(ngModel)]="loginService.password" class="input" type="password" name="pwd" required
              id="materialLoginFormPassword" data-type="password">
          </div>
        </div>
      </div>

      <div class="align-right top-margin">
        <p>Forgot your <a href="#">password</a></p>
      </div>

      <div class="group">
        <input type="submit" class="button more-bottom-margin" [mat-dialog-close] value="Sign In"
          (click)="loginService.check()">
      </div>

      <hr class="hr more-bottom-margin">

      <div class="foot-lnk">
        <div class="group">
          <p>Don't have an account ?
            <input class="signup-button" [mat-dialog-close] value="Sign Up" (click)="openSignupPage">
          </p>
        </div>
        <!-- <a routerLink="/signup" [mat-dialog-close]> Sign Up</a> -->
      </div>

    </div>
  </div>
</div>