<app-menu></app-menu>
<div class="container col-12 ">
  <h1 class="col-12 mt-3">SignUp</h1>
  <hr>
  <div class="row col-12">
    <!-- Advanced Tables -->
    <div class="panel-body  col-md-12">
      <form class="row col-md-12" (ngSubmit)="Signup()" [formGroup]="SignupFrmGroup">
        <fieldset class=" col-md-12 col-lg-6 pt-3">
          <legend>Contact Informations</legend>
          <div class="col-md-12">
            <mat-form-field class="col-md-10">
              <input matInput type="text" class=" col-sm-12 col-md-12 col-lg-8" placeholder="first Name"
                formControlName="firstnamectl" required>
              <mat-error> this field is mendatory</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-10">
              <input matInput type="text" class=" col-sm-12 col-md-12 col-lg-8" placeholder="Last Name"
                formControlName="lastnamectl" required>
              <mat-error> this field is mendatory</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-10">
              <input matInput type="text" class=" col-sm-12 col-md-12 col-lg-8" placeholder="Job role"
                formControlName="jobctl" required>
              <mat-error> this field is mendatory</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-10">
              <input matInput formControlName="phonectl" class="col-sm-12 col-md-12 col-lg-8" placeholder="Phone">
              <mat-error> Phone number is not valid</mat-error>
            </mat-form-field>
            <legend class="pb-3">Login Informations</legend>
            <mat-form-field class="col-md-10">
              <input matInput type="email" class=" col-sm-12 col-md-12 col-lg-8" placeholder="Email"
                formControlName="emailctl" required>
              <mat-error *ngIf=" SignupFrmGroup.controls['emailctl'].hasError('email')"> Email format not valid
              </mat-error>
              <mat-error *ngIf=" SignupFrmGroup.controls['emailctl'].hasError('incorrect')"> This email already exists
              </mat-error>
              <mat-error *ngIf="SignupFrmGroup.controls['emailctl'].hasError('required')"> This field is mendatory
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-10">
              <input matInput placeholder="Password" type="password" class="" formControlName="passwordctl" required>
              <mat-error> This field is mendatory</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-10">
              <input matInput placeholder="Validation password" type="password"
                formControlName="confirmationpasswordctl" required>
              <mat-error *ngIf=" SignupFrmGroup.controls['confirmationpasswordctl'].hasError('incorrect')">Validation
                password does not match the password</mat-error>
              <mat-error *ngIf=" SignupFrmGroup.controls['confirmationpasswordctl'].hasError('required')"> This field is
                mendatory</mat-error>
              <br />
            </mat-form-field>
          </div>
        </fieldset>
        <fieldset class="col-md-12 col-lg-6 pt-3">
          <legend>Company Informations</legend>
          <mat-form-field class="col-md-10">
            <input matInput type="text" class=" col-md-12 col-sm-12" placeholder="Company name"
              formControlName="companynamectl" required>
            <mat-error class="col-12 p-0"> This field is mendatory </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-10">
            <mat-label>Select company type</mat-label>
            <mat-select class=" col-md-12 col-sm-12" formControlName="companytypectl">
              <mat-option *ngFor='let ct of companyType' [value]="ct.id">{{ct.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-10">
            <mat-label>Select country</mat-label>
            <mat-select class=" col-md-12 col-sm-12" formControlName="countryctl" required>
              <mat-option *ngFor='let c of country' [value]="c.id">{{c.name}}</mat-option>
            </mat-select>
            <mat-error class="col-12 p-0"> This field is mendatory</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-10">
            <input matInput type="text" formControlName="addressctl" class=" col-md-12 col-sm-12" placeholder="Address">
          </mat-form-field>
          <mat-form-field class="col-md-10">
            <input matInput type="text" formControlName="postalcodectl" class=" col-md-12 col-sm-12"
              placeholder="Postal Code">
          </mat-form-field>
          <mat-form-field class="col-md-10">
            <input matInput type="text" formControlName="cityctl" class=" col-md-12 col-sm-12" placeholder="City">
          </mat-form-field>
          <mat-form-field class="col-md-10">
            <input matInput type="text" formControlName="regionctl" class=" col-md-12 col-sm-12"
              placeholder="State, Province or Region">
          </mat-form-field>
          <mat-form-field class="col-md-10">
            <input matInput type="text" formControlName="websitectl" class=" col-md-12 col-sm-12" placeholder="Website">
          </mat-form-field>
        </fieldset>
        <fieldset class="col-12 text-center">
          <div class="float-center">
            <mat-checkbox class="col-md-2" formControlName="cguctl" (change)="showOptions($event)" value="">
              I agree to QH’s <a [routerLink]="" class="text-nowrap" (click)=GetTerms()>term & services, and
                cookie policy</a>
            </mat-checkbox>
            <div class="mat-error mb-2" *ngIf="SignupFrmGroup.controls['cguctl'].hasError('required')">
              this field is mendatory </div>
            <div class="col-md-12">
              <re-captcha (resolved)="resolved($event)" [siteKey]="key"></re-captcha>
              <div class=" mb-2 mat-error" *ngIf="recaptchaerrormessage">recaptcha check is mendatory
              </div>
            </div>
            <a routerLink="/on-boarding" class="border mr-2 btn btn-default">Cancel</a>
            <button class="btn btn-default">Sign
              Up
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <!-- End EditListes utilisateur -->
</div>