button {
    background-color: #ED6540;
    color: white;
}

.fa-check {
    color: green;
}

.fa-times {
    color: darkred;
}

tbody th {
    text-align: left;
    vertical-align: middle;
}

tbody td {
    vertical-align: middle;
}

.note {
    font-size: x-small;
}