<div>
    <div class="container  col-8">
        <div class="text-center col-12 py-3 my-3">
            <h1> Our Products</h1>
        </div>
        <div class="text-center col-12 pb-3 mb-3">
            <b> Grow your trading strategies with the best of backtesting.</b>
        </div>
        <div class=" row pb-2 mb-2">
            <div class="col-lg-6 col-sm-12">
                <div class="col-12 row mb-1 pb-1">
                    <div class="col-4 pr-0 mr-0">
                        <img src="assets/img/import_data_icon.png" style="width: 50%;">
                    </div>
                    <div class="col-8" style="margin-top: 6%;">
                        Create your Tickdatabase
                    </div>
                </div>
                <div class="col-12 text-justify ">
                    Import your market data by <a href="https://hod.quanthouse.com" target="_blank">
                        Historical On demand</a>, native FeedOs or by CSV template.<br>
                    Import you #TimeSeries, all types of data has been supported (Top of the
                    book, trades, order books, custom, etc ...).
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="col-12 row mb-1 pb-1">
                    <div class="col-4 pr-0 mr-0">
                        <img src="assets/img/preparedata_icon.png" style="width: 50%;">
                    </div>
                    <div class="col-8 pl-0 ml-0" style="margin-top: 6%;">
                        Sanitaze and prepare your data set
                    </div>
                </div>
                <div class="col-12 text-justify">
                    Sanitaze your data are imported, prepare your dataset tick-by-tick, create new time
                    series, make your minute(s) bars and make your daily (OHLC). The data set in your hands.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="col-12 row mb-1 pb-1">
                    <div class="col-4 pr-0 mr-0">
                        <img src="assets/img/designmodels_icone.png" style="width: 50%;">
                    </div>
                    <div class="col-8 pl-0 ml-0" style="margin-top: 6%;">
                        Design and write your models
                    </div>
                </div>
                <div class="col-12 text-justify">
                    Build your quantitative strategies, create and use your indicators, imagine your
                    quantitative models.<br>
                    Industrialize your work, create third-party libraries, reuse your codes. Take in your
                    hands the power of visual studio with the fastest coding time to make your models.
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="col-12 row mb-1 pb-1">
                    <div class="col-4 pr-0 mr-0">
                        <img src="assets/img/visualizePerf_icon.png" style="width: 50%;">
                    </div>
                    <div class="col-8 pl-0 ml-0" style="margin-top: 6%;">
                        Visualize and validate your performances
                    </div>
                </div>
                <div class="col-12 text-justify">
                    Launch your backtest in the cloud to improve, compare, validate your quantitative
                    models.<br>
                    Visualize your performances, P&L, drawdown cach equity and global statistics. Define
                    your objective to find the best range of parameters and optimize the set of
                    parameters.<br>
                    Browse in depth and compare backtest results by portfolios, transactions, orders,
                    statistics, etc..
                </div>
            </div>
        </div>
    </div>
</div>