<app-menu></app-menu>
<div class="container col-12 d-block">
    <div class="col-12 row">
        <div class="col-2 mt-2">
            <mat-list>
                <mat-list-item routerLink="./informations" [routerLinkActive]="['is-active']"> General Informations
                </mat-list-item>
                <mat-list-item routerLink="./subscriptions" [routerLinkActive]="['is-active']"> Subscriptions
                </mat-list-item>
                <mat-list-item routerLink="./payment" [routerLinkActive]="['is-active']"> Cards</mat-list-item>
                <mat-list-item routerLink="./change-password" [routerLinkActive]="['is-active']"> Change Password
                </mat-list-item>
            </mat-list>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>